%h4 Filters
.row#filters
	.col-lg-3= select_tag :show, options_for_select(Show.shows_list), class: "form-control", focus: false
	.col-lg-3= select_tag :scheme_type, options_for_select(Scheme.list_types, "All"), class: "form-control", focus: false