.row#batch-buttons
	.col-lg-12
		- @count.times.with_index do |i|
			.btn.btn-sm.btn-default{"data-batch" => i}
				= i+1
.row
	.col-lg-12
		%table#contestants.table.table-hover
			%thead
				%tr
					%th.col-lg-1 Image
					%th.col-lg-2 Name
					%th.col-lg-4 Seasons
					%th Actions
			%tbody
				- @contestants.each do |contestant|
					%tr
						%td
							= image_tag contestant.image, class:"img-thumbnail thumbnail-sm"
						%td
							%span{"data-name" => "name", "data-pk" => contestant.id}
								= contestant.name
						%td
							%span{"data-name" => "name", "data-pk" => contestant.id}
								- contestant.seasons.order(premiere_date: :desc).each do |season|
									.row
										= season.full_name
						%td
							%button.btn.btn-default.btn-sm.edit-btn Edit Info