<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel-heading">
			<h2>Past Shows</h2>
		</div>
		<% @past_shows.each do |show| %>
			<div class="col-sm-4 col-md-3">
				<div class="thumbnail">
					<img src="<%= show.image %>" class="img-thumbnail">
					<div class="caption caption-lg">
						<h4><%= show.name %></h4>
						<p>Premiered: <%= show.premiere_date.strftime("%B %d, %Y") %></p>
						<p><%= link_to "Explore Show", show_path(show.id), class:"btn btn-primary" %></p>
					</div>
				</div>
			</div>    
		<% end %>
	</div>
</div>