
.panel.panel-default
	.panel-body
		%a.btn.btn-warning.btn-sm{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample"}
			Click to learn more about different types of league.
		.collapse#collapseExample
			%table.table
				%thead
					%th League Type
					%th Fantasy
					%th Elimination
				%tbody
					%tr
						%td Each contestant/character can only be owned by one team per league
						%td 
							%i.glyphicon.glyphicon-ok-circle
						%td
					%tr
						%td Requires online or offline contestant/character draft
						%td
							%i.glyphicon.glyphicon-ok-circle 
						%td
					%tr
						%td Team owners can pick any contestants/characters they want
						%td
						%td
							%i.glyphicon.glyphicon-ok-circle
					%tr
						%td Unlimited number of teams per league
						%td
						%td
							%i.glyphicon.glyphicon-ok-circle		
					%tr
						%td Contestant/character trading
						%td
							%i.glyphicon.glyphicon-ok-circle
						%td
					%tr
						%td Customized points for league
						%td
							%i.glyphicon.glyphicon-ok-circle
						%td
							%i.glyphicon.glyphicon-ok-circle

