<h2>Private Leagues</h2>
<div>
	<table>
		<thead>
			<tr>
				<th>League Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @private_leagues.each do |league| %>
				<tr>
					<td><%= league.name %></td>
					<td>
						<%= link_to(content_tag(:button, "View League"), league_path(league.id))%>
					</td>
				</tr>
			<% end %>
			
		</tbody>
	</table>
</div>