<h2>Public Leagues</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur, eius recusandae, officiis ipsam omnis deleniti vero laudantium fugiat corporis dolorem nulla inventore. Quidem excepturi dolorum cumque tenetur, eaque autem.</p>
<div class="panel-body">
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>League Name</th>
					<th>Show</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @public_leagues.each do |league| %>
					<tr>
						<td><%= league.name %></td>
						<td><%= league.show.name %></td>
						<td>
							<%= link_to "View League", league_path(league.id), class:"btn btn-default" %>
						</td>
					</tr>
				<% end %>
			</tbody>	
		</table>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search league or show">
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
</div>