/ League display and search results
.col-lg-6
	%h2 Public Leagues
.col-lg-6
	%form.navbar-form.navbar-right{:action => "/leagues/search", role: "search", method: "get"}
		.form-group
			%input.input-sm{:type => "text", class: "form-control", name: "search", id: "search", placeholder: "Search league or show"}/
			%button.btn.btn-sm.btn-default{type: "submit"} Submit
.panel-body
	.row
	- if params[:search]
		%h4 Search Results
		%table.table.table-striped
			%thead
				%tr
					%th League Name
					%th Show
					%th Action
			%tbody
				- @league_results.each do |league|
					%tr
						%td= league.name
						%td= league.season.name
						%td
							= link_to "View", league_path(league.id), class:"btn btn-default"
