.col-md-12
	%h2 Public Leagues
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur, eius recusandae, officiis ipsam omnis deleniti vero laudantium fugiat corporis dolorem nulla inventore. Quidem excepturi dolorum cumque tenetur, eaque autem.
	.panel-body
		.row
			%table.table.table-striped
				%thead
					%tr
						%th League Name
						%th Show
						%th Action
				%tbody
					- @public_leagues.each do |league|
						%tr
							%td= league.name
							%td= league.season.name
							%td
								= link_to "View League", league_path(league.id), class:"btn btn-default"
			%form.navbar-form.navbar-left{:role => "search"}
				.form-group
					%input.form-control{:placeholder => "Search league or show", :type => "text"}/
				%button.btn.btn-default{:type => "submit"} Search