<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @league.name %></h3>
  	<%= @league_show.name %>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


<div class="panel panel-default">
	<div class="panel panel-heading">
		<h3 class="panel-title"></h3>
			
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<th>Rank</th>
				<th>Participants</th>
				<th>W-L-T</th>
				<th>Total Points</th>
			</thead>
			<tbody>
				<tr>
					<% @participants.each_with_index do |participant, i| %>
						<td><%= i+1 %></td>
						<td><%= @current_user.username %></td>
						<td></td>
						<td>130</td>
					<% end -%>
				<tr>
			</tbody>
		</table>
	</div>
	</div>
</div>