.panel.panel-default
	.panel-body
		.col-lg-12.col-md-12
			%h2 Command Center
			= link_to "Add New Occurrence", new_point_path
		.col-lg-12.col-md-12
			%h2 All Points
			%table
				%thead
					%tr
						%th Events
						%th Points Assigned
				%tbody
					- @points_info_table.each do |event, points|
						%tr
							%td= event
							%td= points	

