- if @roster.league.draft_limit
	#rosterCountDisplay.col-lg-12
		%p #{ @roster.contestants.count } out of #{ @roster.league.draft_limit } contestants
- @selected_contestants.each do |contestant|
	.col-lg-2
		.thumbnail.thumbnail-current-roster
			= image_tag contestant.image
			.caption
				%i.remove-button.fa.fa-times{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
				= contestant.name