- @available_contestants.each do |contestant|
	.col-lg-4.contestants-panel
		.thumbnail.contestant-thumbnail
			= image_tag contestant.image
			.caption
				.contestant-name
					= contestant.name
				.action
					%i.remove-button.glyphicon.glyphicon-remove.hidden{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
					%i.add-button.glyphicon.glyphicon-ok{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}