- @available_contestants.each do |contestant|
	.col-lg-4
		.thumbnail.thumbnail-available-contestants
			= image_tag contestant.image
			.caption
				= contestant.name
				.pull-right
					%i.add-button.glyphicon.glyphicon-plus{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}