- @available_contestants.each do |contestant|
	.col-lg-4
		.thumbnail.thumbnail-available-contestants
			= image_tag contestant.image
			.caption
				%i.add-button.fa.fa-plus{"data-contestant-id" => contestant.id, "data-roster-id" => @roster.id}
				= contestant.name