#manage-statuses
	%h2 Manage Contestants
	.col-lg-3
		#contestant-form#contestants
			= render partial: "/contestants/form"
	.col-lg-9
		#statuses-action-alert{class: flash[:color]}
			= flash[:notice]
		#filter-panel
			= render partial: "filter"
		#contestant-board
			= render partial: "/contestants/display", locals: { contestants: @contestants}
