
%table.table.table-hover.table-scroll
	%thead
		%th.col-lg-1 Type
		%th.col-lg-5{"data-field" => "event", "data-sortable" => "true"} Event
		%th.col-lg-1{"data-field" => "points_asgn", "data-sortable" => "true"} Points
		%th.col-lg-3 Actions
	%tbody#schemes_table
		= render partial: "schemes_list", locals: {schemes: schemes}
