- @selected.each do |scheme|
	%tr
		%td
			%span{"data-name" => "type", "data-pk" => scheme.id}= scheme.type
		%td
			%span{"data-name" => "description", "data-pk" => scheme.id}= scheme.description
		%td
			%span{"data-name" => "points_asgn", "data-pk" => scheme.id}= scheme.points_asgn
		%td
			.btn.btn-xs.btn-default.edit{"data-id" => scheme.id} Edit
			= button_tag("Delete", class:"btn btn-xs btn-default destroy")