%h5 
	Filter Types
	-# = link_to "All", schemes_path, class: "btn btn-xs btn-default btn-primary", :remote => true	
	-# - @shows.each do |show|
	-# 	= link_to show.name, fetch_schemes_path(show_id: show.id), class: "btn btn-xs btn-default", "data-show-id" => show.id, :remote => true