#manage-schemes.panel.panel-default
	.panel-body
		.col-lg-12#shows-panel
			%h2 Manage Point Schemes
	.panel-body
		#newSchemeBoard.col-lg-3.col-md-3
			= render "form"
		#currentSchemeBoard.col-lg-9.col-md-9
			= render partial: "display_schemes", locals: { shows: @shows }