%h3 Participants' Weekly Scores
%table.table.table-hover
	%thead
		%th Participants
		- @league.season.episode_count.times do |i|
			%th= i+1
		%th Total
	%tbody
		- @participants.each_with_index do |participant, index|
			%tr
				%td= participant.username
				- @league.season.episode_count.times do |i|
					%td --
				%td= @participants_roster_total[participant.username] 