.row
	.col-lg-12
		%h4 Round #{ @round.id } (Episode #{ @round.episode. })
	.col-lg-12
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quia, harum. Ex totam dolore modi nemo harum odit eveniet, beatae ut deserunt adipisci voluptatum obcaecati aspernatur suscipit ad, molestias rerum.