.panel.panel-default
	.panel-body
		.col-md-10.col-lg-10
			%h3= @league.name
			%p
				= @league.season.show.name + ": "
				= @league.season.name
			%p 
		.col-lg-2.text-right
			%h4.small
				Deadline: #{@league.season.premiere_date.strftime("%B %d")}
			%p.small
	.panel-body
		/ Contestant Board
		#contestantBoard.col-lg-12
		/ END Contestant Board