#manage-events.panel.panel-default#events.col-lg-5
	.panel-body
		%h2 
			Events
			%button.btn.btn-danger.pull-right{"data-target" => "#demo", "data-toggle" => "collapse", :type => "button"}
				Track Event
		#demo.collapse
			.panel-group
				%br/
				= render "form"
#event-update.col-lg-7
	= render partial: "display_points"

