<div class="panel panel-default">
	<div class="panel-body">
		<div class="panel-header">
			<div class="col-md-12">
				<h2>Manage Point Schemas</h2>
			</div>
		</div>
		<div class="col-md-4">
			<% @shows.each do |show| %>
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= show.id %>">
					<button class="btn btn-md btn-primary btn-block">
						<%= show.name %>
					</button>
				</a>
				<br>
			<% end %>
			
		</div>
		<div class="col-md-8">
			<div class="panel-group">

			</div>
			<div class="panel-group" id="accordion">
	
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse">
									HHIHIHIHI
								</a>
							</h4>
						</div>
						<div id="collapse" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<h4>Description:</h4>
		
										<h4>Contestants:</h4>
									</div>
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>

<span class="col-md-12 text-right">
	<% if @current_user && @current_user.admin? %>
		<%= link_to "Back to Shows", shows_path, class:"btn btn-default" %>
	<% end %>
	<br>
	<br>
</span>

<%= link_to 'New Event', new_event_path %>
