.col-lg-5
	#event-actions
		%button.btn.btn-default#new-event-button
			New
		%button.btn.btn-default#update-event-button
			Update
	%br/
	#event-create{style: "display: none"}
		= render partial: "form"
	#event-update{style: "display: none"}
.col-lg-7
	.panel.panel-default#event-display
		= render partial: "display_points"
		
