<div>
	<h4>Here are some of the most popular shows at the moment</h4>
	<ul>
		<% @featured_shows.each do |show| %>
			<li>
				<%= show.name %>
				<%= show.premiere_date %>
				<%= show.draft_close_date %>
				<%= link_to(content_tag(:button, "Explore Show"), show_path(show.id)) %>
			</li>
		<% end %>
	</ul>
</div>
