.panel.panel-default
	.panel-body
		.col-md-12
			%h2 Who We Are
			%p If you enjoy watching reality TV shows and rooting for your favorite contestants, this is the app for you.

= render partial: "instructions"
= render partial: "terms"
= render partial: "privacy"