.right-menu {
	position: absolute;
	left: 145px;
	top: 0px;
}

.right-caret {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid #000000;
	display: inline-block;
	height: 0;
	opacity: 1;
	vertical-align: top;
	width: 0;
}