/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap3-editable/bootstrap-editable
 *= require_self
 */

$primary-color: #ff8c00;
$copy-primary: black;

/* SPORTS-THEMED COLORS */
$sports-main-dark: #000339;
$sports-main-medium: #000363;
$sports-main-light: #00049E;
$sports-main-contrast: white;
$sports-highlight-dark: #E82C0C;
$sports-highlight-light: white;
$sports-highlight-subtle: #22024A; 	/* purple */
@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

body {
	background-color: white;
	display: block;
	height: 1000px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $copy-primary;
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6, a.navbar-brand, th {
	font-family: verdana, cursive;
	margin-top: 5;
}

p, ol, ul, td {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.jumbotron p {
	font-size: 16px;  
}

button a:visited {
	color: white;
}

a.btn.btn-default.glow{
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

a.btn.btn-default.glow:hover{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	box-shadow: 0 0 30px rgba(81, 203, 238, 1);
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: inherit;
		list-style: square;
	}
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

.panel-center-stage {
	background-color: blue;
	width: 0 auto;
}

.contestants-pool, .contestants-selected {
	display: inline-block;
}

.thumbnail-click-area {
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 5;
}
.thumbnail {
	position: relative;
	border: none;
	padding: 0;
	.fading {
		> img {
			width: 100%;
		}
		&.eliminated {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}
	}
	&.contestant-thumbnail {
		display: inline-block;
		position: relative;
		min-height: auto;
		max-height: 100px;
		max-width: 100px;
		margin-right: 10px;
		> img {
			height: 100px;
			width: 100px;
			border-radius: 3px;
		}
		&.selected {
			img {
				border: 4px solid green;			
			}
		}
		&.available {
			img {
				background-color: black;
				opacity: 0.8; /* transparency */  
				filter: alpha(opacity=80); /* IE transparency */ 
				border: 4px solid gray;	
			}
		}
		.caption {
			width: 100%;
			position: absolute;
			background-color: black;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 3px;
			font-size: 12px;
			text-align: center;
			color: white;  
			opacity: 0.6; /* transparency */  
			filter: alpha(opacity=60); /* IE transparency */  
			border-radius: 0 0 3px 3px;
		}
		.veil {
			height: 77px;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}	
		.action {
			&.disabled {
				height: 100px;
				width: 100px;
				background-color: white;
				opacity: 0.2; /* transparency */  
				filter: alpha(opacity=20); /* IE transparency */  
				position: absolute;
				left: 0;
				top: 0;
				color: red;
				i {
					padding: 33px;
					font-size: 30px;
				}				
			}
			&.available.pick {
				height: 100px;
				width: 100px;
				background-color: black;
				border: 4px solid green;
				opacity: 0.6; /* transparency */  
				filter: alpha(opacity=60); /* IE transparency */  
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				color: green;
				i {
					padding: 33px;
					font-size: 30px;
				}
			}
			&.selected.discard {
				height: 100px;
				width: 100px;
				background-color: black;
				border: 4px solid red;
				opacity: 0.6; /* transparency */  
				filter: alpha(opacity=60); /* IE transparency */  
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				color: red;
				i {
					padding: 33px;
					font-size: 30px;
				};
			}
		}
	}
	&.hover {
	}
	p {  
		padding: 0px;  
		margin-bottom: 0px; 
		&.status {
			display: none;
		} 
	} 
}

img.img-thumbnail {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.thumbnail.tmbn-contestant {
	height: 290px;
}

.thumbnail-current-roster {
	min-height: auto;
	max-height: 180px;
}

body.modal-open, .modal-dialog.modal-md, .modal-dialog.modal-sm {
	left: auto;
	margin-left: auto;
}

// X-editable fields

input.form-control.input-small {
	width: 100px;
}


// /* BOOTSTRAP OVERRIDE */

.btn.btn-primary {
	border: solid #024532 1px;
	background-color: #076349;
}
.btn.btn-primary:hover {
	background-color: #003325;
}
.col-md-3 > .btn.btn-primary:hover {
	background-color: #499000;
}


.btn.btn-danger {
	background-color: #b64415;
}

.btn.btn-danger:hover {
	background-color: #ee4c0a;
}

.navbar.navbar-default {
	background-color: #003034;
	border: none;
	.navbar-nav > li > a {
		color: white;
	}
	.navbar-brand {
		font-size: 2.25em;
		color: $sports-highlight-light;
	}
}

#carousel-features-generic {
	> .carousel-inner {
		> .carousel-img {
			height: 400px;
		}
	}
}

.carousel-caption {
	background-color: black;
	color: white;  
	opacity: 0.9; /* transparency */  
	filter: alpha(opacity=90); /* IE transparency */  
}

#bracketScoreBoard {
	width: auto;
	height: 100%;
	overflow-y: hidden;
	box-sizing: border-box;
	> .col-100-px {
		width: 120px;
		display: inline-block;
		vertical-align: top;

	}
}

// Elimination Bracket Viewing
tr.strike-through {
	color: #BFBFBF;
	text-decoration: line-through }

ul.bracketList {
	width: 100%;
	list-style-type: none;
	white-space: nowrap;
	overflow-x: auto;
}

li.bracketItem {
	list-style: none;
	display: inline-block;
	width: 110px;
}
.documentItem {
	border: 1px solid black;
	padding: 0;
	height: 100%;
}

#feedbackBox {
	background-color: $primary-color;
	position: fixed;
	padding: 5px;
	right: 5px;
	bottom: 0px;
	border-radius: 3px 3px 0px 0px;
	height: 30px;
	width: 30px;
}

#feedbackBox:hover {
	background-color: $primary-color;
}

#feedbackBox:active {
	background-color: yellow;
}