/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

body {
	background-color: blue;
	background: #cecece;
	color: #333;
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6, a.navbar-brand, th {
	font-family: 'Patua One', cursive;
}

p, ol, ul, td {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.jumbotron p {
	font-size: 16px;  
}

button a:visited {
	color: white;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: inherit;
		list-style: square;
	}
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}