/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap3-editable/bootstrap-editable
 *= require_self
 */

$primary-color: #ff8c00;
$copy-primary: black;

/* SPORTS-THEMED COLORS */
$sports-main-dark: #000339;
$sports-main-medium: #000363;
$sports-main-light: #00049E;
$sports-main-contrast: white;
$sports-highlight-dark: #E82C0C;
$sports-highlight-light: white;
$sports-highlight-subtle: #22024A; 	/* purple */
@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

body {
	background-color: white;
	display: block;
	height: 1000px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $copy-primary;
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6, a.navbar-brand, th {
	font-family: verdana, cursive;
	margin-top: 5;
}

p, ol, ul, td {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.jumbotron p {
	font-size: 16px;  
}

button a:visited {
	color: white;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: inherit;
		list-style: square;
	}
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

.panel-center-stage {
	background-color: blue;
	width: 0 auto;
}

.thumbnail {
	position: relative;
	overflow: scroll;
	padding: 0;
	&.fading {
		&.eliminated {
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
	}
	.caption {
		position: absolute;
		padding: 5px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		background-color: black;
		font-size: 12px;
		color: white;  
    opacity: 0.6; /* transparency */  
    filter: alpha(opacity=60); /* IE transparency */  
	}
	p {  
    padding: 0px;  
    margin-bottom: 0px; 
    &.status {
    	display: none;
    } 
	} 
	img.thumbnail-poster {
		width: 100%;
	}
}

.thumbnail.tmbn-contestant {
	height: 290px;
}

.thumbnail-current-roster {
	min-height: auto;
	max-height: 180px;
}

.thumbnail-available-contestants {
	min-height: auto;
	max-height: 130px;
}

// .remove-button, .add-button {
// 	padding-right: 4px;
// 	padding-bottom: 4px;
// 	border-bottom-right-radius: 2px;
// 	background-color: white;
// }

body.modal-open, .modal-dialog.modal-md, .modal-dialog.modal-sm {
	left: auto;
	margin-left: auto;
}

// X-editable fields

input.form-control.input-small {
	width: 100px;
}


// /* BOOTSTRAP OVERRIDE */

.btn.btn-primary {
	border: solid #024532 1px;
	background-color: #076349;
}
.btn.btn-primary:hover {
	background-color: #003325;
}
.col-md-3 > .btn.btn-primary:hover {
	background-color: #499000;
}


.btn.btn-danger {
	background-color: #b64415;
}

.btn.btn-danger:hover {
	background-color: #ee4c0a;
}

.navbar.navbar-default {
	background-color: #003034;
	border: none;
	.navbar-nav > li > a {
		color: white;
	}
	.navbar-brand {
		font-size: 2.25em;
		color: $sports-highlight-light;
	}
}

