<div>
	<h4>Here are some of the most popular shows at the moment:</h4>
		<div class="row">
			<% @featured_shows.each do |show| %>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img data-src="holder.js/300x300" alt="...">
						<div class="caption">
							<h4><%= show.name %></h4>
							<p>Premieres: <%= show.premiere_date.strftime("%B %d, %Y") %></p>
							<% if show.draft_close_date - DateTime.now < 7 %>
								ALMOST HERE
							<% end %>
							<p>Final Draft on: <%= show.draft_close_date.strftime("%B %d, %Y") %></p>
							<p><%= link_to(content_tag(:button, "Explore Show", class:'btn btn-primary'), show_path(show.id)) %></p>
						</div>
					</div>
				</div>		
			<% end %>
		</div>
</div>