/ Large modal
%button.btn.btn-primary.btn-sm{"data-target" => ".bs-example-modal-md", "data-toggle" => "modal"} View scoring system
.modal.fade.bs-example-modal-md{"aria-hidden" => "true", "aria-labelledby" => "myMediumModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-md
		.modal-content
			.modal-header.text-center
				%button.close{"data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
					%span.sr-only Close
				%h4#myModalLabel.modal-title
					= @show.name
					's Scoring System
			.modal-body.text-left
				%table.table.table-condensed.table-striped
					%thead
						%th Elimination/Survival
						%th
					- @rules.each do |rule|
						%tbody
							%tr
								%td= rule.description
								%td= rule.points_asgn
				/ %table.table.table-condensed.table-striped
				/ 	%thead
				/ 		%th Show/Game
				/ 		%th
				/ 	%tbody
				/ 		- @rules.each do |rule|
				/ 			%tr
				/ 				%td= rule.description
				/ 				%td= rule.points_asgn
				/ %table.table.table-condensed.table-striped
				/ 	%thead
				/ 		%th Extracurricular
				/ 		%th
				/ 	%tbody
				/ 		- @rules.each do |rule|
				/ 			%tr
				/ 				%td= rule.description
				/ 				%td= rule.points_asgn
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close